<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         point="com.sympedia.genfw.externalLibraries">
      <externalLibrary
            libraryInitializer="tutorial2.gen.internal.ExtPointLibraryInitializer"
            libraryPath="model/extpoint.genlib"/>
   </extension>

</plugin>
