<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw/jet" 
       class = "com.sympedia.genfw.jet.JetPackage"
       genModel = "model/jet.genmodel" /> 
  </extension>
  
  <extension
        point="com.sympedia.genfw.externalLibraries">
     <externalLibrary
           libraryInitializer="com.sympedia.genfw.jet.internal.EcoreLibraryInitializer"
           libraryPath="model/ecore.genlib"/>
  </extension>

  <extension
        point="com.sympedia.genfw.generators">
     <generator
           classifierName="JetTemplate"
           packageURI="http://www.sympedia.com/2006/genfw/jet"/>
     <generator
           classifierName="EcoreTemplate"
           packageURI="http://www.sympedia.com/2006/genfw/jet"/>
     <generator
           classifierName="EmfGenerator"
           packageURI="http://www.sympedia.com/2006/genfw/jet"/>
     <generator
           classifierName="GifColorer"
           packageURI="http://www.sympedia.com/2006/genfw/jet"/>
  </extension>

</plugin>

