<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2006/03/08 09:45:16 stepper Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw/bsh" 
       class = "com.sympedia.genfw.bsh.BshPackage"
       genModel = "model/bsh.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.sympedia.com/2006/genfw/bsh" 
       class = "com.sympedia.genfw.bsh.provider.BshItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension
        point="com.sympedia.genfw.rules">
     <rule
           classifierName="BeanShellRule"
           packageURI="http://www.sympedia.com/2006/genfw/bsh"/>
  </extension>
  
  <extension
        point="com.sympedia.genfw.domTransformations">
     <domTransformation
           classifierName="BeanShellTransformation"
           packageURI="http://www.sympedia.com/2006/genfw/bsh"/>
  </extension>

</plugin>

