<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2006/01/23 10:25:13 stepper Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "com.sympedia.density.gen.deploytest.presentation.DeploytestModelWizardID"
      name = "%_UI_DeploytestModelWizard_label"
      class = "com.sympedia.density.gen.deploytest.presentation.DeploytestModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/DeploytestModelFile.gif">
      <description>%_UI_DeploytestModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.sympedia.density.gen.deploytest.presentation.DeploytestEditorID"
        name = "%_UI_DeploytestEditor_label"
        icon = "icons/full/obj16/DeploytestModelFile.gif"
        extensions = "deploytest"
        class = "com.sympedia.density.gen.deploytest.presentation.DeploytestEditor" 
        contributorClass="com.sympedia.density.gen.deploytest.presentation.DeploytestActionBarContributor" >
    </editor>
  </extension>    
</plugin>
