<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension-point id="externalLibraries" name="GenFw External Libraries" schema="schema/externalLibraries.exsd"/>
  <extension-point id="contentProviders" name="GenFw Content Providers" schema="schema/contentProviders.exsd"/>
  <extension-point id="generators" name="GenFw Generators" schema="schema/generators.exsd"/>
  <extension-point id="rules" name="GenFw Rules" schema="schema/rules.exsd"/>
  <extension-point id="domTransformations" name="DOM Transformations" schema="schema/domTransformations.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw" 
       class = "com.sympedia.genfw.GenfwPackage"
       genModel = "model/genfw.genmodel" /> 
  </extension>

  <extension point="org.eclipse.core.resources.natures"
  	id="nature" name="Sympedia GenFw Nature">
    <runtime>
      <run class="com.sympedia.genfw.internal.GenfwNature"/>
    </runtime>
    <builder id="com.sympedia.genfw.builder"/>
  </extension>
  
  <extension point="org.eclipse.core.resources.builders"
  	id="builder" name="Sympedia GenFw Builder">
    <builder hasNature="true" isConfigurable="false">
      <run class="com.sympedia.genfw.internal.GenfwBuilder"/>
    </builder>
  </extension>

</plugin>

