<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2006/01/27 18:16:03 stepper Exp $
-->

<plugin>

  <extension-point id="externalLibraries" name="GenFw External Libraries" schema="schema/externalLibraries.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw" 
       class = "com.sympedia.genfw.GenfwPackage"
       genModel = "model/genfw.genmodel" /> 
  </extension>

</plugin>

