<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2006/02/01 09:35:45 stepper Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw/jmerge" 
       class = "com.sympedia.genfw.jmerge.JmergePackage"
       genModel = "model/jmerge.genmodel" /> 
  </extension>
  <extension
        point="com.sympedia.genfw.generators">
     <generator
           classifierName="JmergeGenerator"
           packageURI="http://www.sympedia.com/2006/genfw/jmerge"/>
  </extension>

</plugin>

