<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw/jmerge" 
       class = "com.sympedia.genfw.jmerge.JmergePackage"
       genModel = "model/jmerge.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.sympedia.com/2006/genfw/jmerge" 
       class = "com.sympedia.genfw.jmerge.provider.JmergeItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension
        point="com.sympedia.genfw.generators">
     <generator
           classifierName="Jmerger"
           packageURI="http://www.sympedia.com/2006/genfw/jmerge"/>
     <generator
           classifierName="PropertyMerger"
           packageURI="http://www.sympedia.com/2006/genfw/jmerge"/>
  </extension>

</plugin>

