<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sympedia.com/2006/genfw/ocl" 
       class = "com.sympedia.genfw.ocl.OclPackage"
       genModel = "model/ocl.genmodel" /> 
  </extension>
  
  <extension
        point="com.sympedia.genfw.rules">
     <rule
           classifierName="OclRule"
           packageURI="http://www.sympedia.com/2006/genfw/ocl"/>
     <rule
           classifierName="ConfigurableOclRule"
           packageURI="http://www.sympedia.com/2006/genfw/ocl"/>
  </extension>

</plugin>

